@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --mainCl: #211f45;
}

body {
  background: #211F45;
  background: linear-gradient(177deg,rgba(33, 31, 69, 1) 0%, rgba(64, 66, 102, 1) 50%, rgba(33, 31, 69, 1) 100%);
  color: var(--foreground);
  font-family: Montserrat;
}
