@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #211f45;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #211f45;
    --foreground: #ededed;
  }
}

body {
  background: #211F45;
  background: linear-gradient(177deg,rgba(33, 31, 69, 1) 0%, rgba(64, 66, 102, 1) 50%, rgba(33, 31, 69, 1) 100%);
  color: var(--foreground);
  font-family: Montserrat;
}
