@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --mainCl: #211f45;
}

body {
  font-family: Montserrat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}